body {
    background-color: light-dark(lightblue, hotpink);
    color:black;
}

footer {
    background-color:gray;
    color:black
}

.center{
    width: 960px;
    margin-left:auto;
    margin-right:auto;
}
